@using TechnicalTest.Models;
@model IEnumerable<Job>


@{
    ViewData["Title"] = "Job Opening";
}

<div class="page-banner">
    <h2 class="text-white">Job Opening</h2>
</div>


<div id="filtered-list">

    <div class="container">
        <div class="panel">
            <h4>Search</h4>
            <div class="search-form">
                <input type="text" placeholder="Job Titles" id="search-input" />
                <a id="search_submit" class="btn search">Search</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel padding-medium categories-filter-panel" id="categories-filter">

                    <p class="text-blue">Categories</p>

                    @foreach(string category in ViewBag.categories)
                    {
                       <div class="">
                           <input id="@category" type="checkbox" class="checkbox">
                           <label class="type" for="@category"><strong>@category</strong></label>
                       </div>
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="sortby-filter-panel">
                    <label for="sortBy">Sort By: </label>
                    <select id="sortByFilter">
                        <option value="0">All</option>
                        <option value="1">Salary</option>
                        <option value="2">Date</option>
                    </select>
                </div>
                <div class="filtered-list-wrapper">
                    <ul id="list">
                        @foreach (Job item in ViewBag.users)
                        {
                            <li class="list-item" data-type="@item.category" data-salary="@item.salary_to" data-date=" @item.postAge">
                                <div class="job padding-medium">
                                    <h2>@item.job_title</h2>
                                    <p class="icon pin">Job Id: @item.id</p>
                                    <p class="icon location">Location: @item.location </p>
                                    <p class="icon pound">Salary: @item.salary_to </p>
                                    <p class="icon timer">Posted @item.postAge ago</p>
                                    <p class="icon category">@item.category</p>
                                    <button class="detailsBtn btn btn-primary" data-id="@item.id">View</button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
